<h1>Welcome {{user.username}}</h1>
<h2 id="position" ></h2>
<script>
  navigator.geolocation.getCurrentPosition((data)=>{
    console.log(data.coords.latitude, data.coords.longitude)
    document.querySelector("#position").innerHTML = `latitude:${data.coords.latitude} longitude:${data.coords.longitude}`
  })
</script>